@media (max-width:1170px){
  body{
float:center;
margin-left: auto;
margin-right: auto;
text-align: center;
  }
  section{
    margin-bottom:200px;
  }
  .elms{
    float:left;;
  }
}
:root{
  --green-color:#8AD7BB;
  --blue-color:#243564;

}
body {
  padding: 0;
  background: white;
  cursor: default;
  font-family:Futura;
}
section{
  margin-right:10%;
  margin-left:10%;
  margin-top: 5%;
  color:var(--blue-color);
  height: 75%;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
}
.green-section{
  background-color: var(--green-color);
}
.blue-section{
  background-color:var(--blue-color);
}
.blue-text{
  color: var(--blue-color);
}
.black-text{
  color: black;
  font-family:Futura;
}
.green-text{
  color: var(--green-color);
}

/*--- navigation bar ---*/

.navbar {
  background:var(--blue-color);
}

.nav-link,
.navbar-brand {
  color: var(--green-color);
  cursor: pointer;
}


.nav-link:hover {
  color: #000;
}

.navbar-collapse {
  justify-content: flex-end;
}

button{
  background: var(--green-color);
  color: var(--blue-color);
  padding: 10px 5px;
  font-size: 16px;
  border: 2px solid var(--green-color);
  cursor: pointer;
  
}
button:hover{
  background:transparent;
  color:var(--blue-color);
  
  border: 2px solid var(--blue-color);

}
span{
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
}
.center{
  float:center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}